body {
    font-family: montserrat;
    margin: 0;
}
@font-face {
    font-family: "montserrat";
    src: url("./Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    
}
body.close{
    width: 99vw;
    height: 99vh;
    background-color: #735FF1;
    overflow: hidden;
}
body.nofullclose {
    width: 99vw;
    height: 15000px;
    background-color: #735FF1;
    overflow: hidden;
}
:root {
    --padding-bar: 10px;
    --apadding: 10px;
    --bgcolorhover: #2c2c2c;
    --otbgcolor:  #212121;
    --dopbgcolor: #353535;
    --bgcolordefault: #171717;
    --textcolor: #fff;
    --bordercolor: #171717;
}